*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
.wrapper{
	display: block;
	width: 960px;
	height: 100px;
}
.title{
	display: block;
	width: 640px;
	height: 960px;
	background-image: url(../image/Layer24.png);
	background-size: cover;
	margin: 0 auto;
}
.menu{
	display: block;
	width: 470px;
	height: 644px;
	background-color: black;
	margin: 160px 85px 160px 85px;
	position: absolute;
	padding: 85px 35px 55px 35px;
}
.row{
	display: flex;
}
.name{
	display: block;
	width: 300px;
	color: #979696;
	font-size: 2.0rem;
	padding-top: 30px;

}
.button-red{
	display: block;
	width: 99px;
	height: 96px;
	background-color: #df4a32;
}
img{
	display: block;
	width: 50px;
	height: 50px;
	margin: 21px 14px -8px 24px;
}
.button input{
	background-color: #d29d41;
	text-transform: uppercase;
}
form{
	width: 100%;
	height: 100%;
	padding-top: 30px;
}
input{
	width: 100%;
	height: 80px;
	background-color: #18191e;
	font-size: large;
	margin-top: 33px;
	padding-left: 15px;
}
.dws-input img{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -51px 0px 80px 325px;

}
i{
	position: absolute;
	display: block;
	font-size: 30px;
	margin-top: 40px;
	color: #fff;
}
.href-left a{
	display: block;
	width: 235px;
	text-decoration: none;
	color: #979696;
	font-size: small;
	font-weight: bold;
	padding-top: 33px;
}
.href-right a{
	display: block;
	width: 235px;
	text-decoration: none;
	color: #d29d41;
	font-size: small;
	font-weight: bold;
	padding-top: 33px;
}
