*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html body{
	font-family: "Exo-2",sans-serif;
}
.main-wrapper{
	text-align: center;
	width: 850px;
	height: 500px;
	margin-left: 200px;
	padding-left: 100px;
}
.main-title{
	display: block;
	padding: 30px 30px;
	text-transform: uppercase;
}
.wrapper{
	border: 2px solid #c0c0c0;
	border-right: 0px;
	height: 420px;
	width: 732px;
	display: flex;
	margin: 0 auto;
	position: relative;
}
.offer{
	height: 418px;
	width: 183px;
	border-right: 2px solid #c0c0c0;
	padding-left: 9px;
	font-size: small;
	position: relative;
}
.title{
	text-align: center;
	border-bottom: 2px solid #c0c0c0 ;
	width: 160px;
	height: 70px;
	color: #808080;
	padding-top: 25px;
	text-transform: uppercase;
}
.image{
	display: block;
	height: 150px;
	width: 120px;
	margin-left: 20px;
	padding-top: 30px;
}
img{
	display:block;
	height: 150px;
	width: 120px;
}
.name{
	text-align: center;
	color: #1e90ff;
	padding-top: 60px;
	text-transform: uppercase;
	font-weight: bold;
}
.price{
	height: 30px;
	text-align: center;
	color: black;
	padding-top: 20px;
	display: inline-block;
	text-transform: lowercase;

}
span{
	font-weight: bold;
}
.previous-price{
	text-decoration: line-through;
	display: inline-block;
	font-size: small;
}
.button{
	display: block;
	width: 110px;
	height:34px;
	background-color: #ffff00;
	text-align: center;
	text-transform:uppercase;
	border-radius: 2px;
	padding-top: 10px;
	font-size: 8pt;
	margin: 25px 30px 60px ;
}
.button:active{
	background:#ffffff ;
}
.button-violet{
	background-color: #ba55d3;
	display: block;
	width: 110px;
	height:34px;
	text-align: center;
	text-transform:uppercase;
	padding-top: 5px;
	border-radius: 2px;
	font-size: 8pt;
	margin: 25px 30px 60px
}
.button-violet:active{
	background:#ffffff ;
}
.sticker{
	position: absolute;
	top: -32px;
	right: 4px;
	height: 58px;
	width: 58px;
	border-radius: 50%;
	background-color:#1e90ff ;
	text-align: center;
	font-size:small;
	padding-top: 8px;
	border: 2px solid #ffffff;
	color: #ffffff ;
}
.sticker-green{
	position: absolute;
	top:-32px ;
	right: 4px;
	height: 58px;
	width: 58px;
	border-radius: 50%;
	background-color:#49961d ;
	text-align: center;
	font-size:small;
	padding-top: 8px;
	border: 2px solid #ffffff;
	color: #ffffff ;
	padding-top: 17px;
}
.left{
	position: absolute;
	top: 55px;
	left: 165px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid #c0c0c0 ;
	color: #c0c0c0 ;
	text-align: center;
	padding-top: 5px;
	background-color: #ffffff;
}
.right{
	position: absolute;
	top: 55px;
	left: -565px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid #c0c0c0 ;
	color: #c0c0c0 ;
	text-align: center;
	padding-top: 5px;
	background-color: #ffffff;
}

