*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	border: 2px solid #808080;
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
}
.left{
	height: 100%;
	max-width: 25%;
	background-color: #0000FF;
}
.photo{
	height: 200px;
	max-width:100%;
	background-color:#0000FF;
}
img{
	display: block;
	width: 100%;
	border-radius: 50%;
	padding: 20px 40px;
}
.info{
	height: 220px;
	max-width: 25%;
	background-color: #0000FF;
}
.interests{
	height: 100px;
	max-width: 25%;
	background-color: #0000FF;
}
.languages{
	height: 70px;
	max-width: 25%;
	background-color: #0000FF ;
}
.right{
	height: 100%;
	max-width:25%;
	background-color: green;
}
